{% extends "base.html" %}
{% load static %}
{% block css %}
    <title>Change Password</title>
    <link href="{% static '/css/change-password.css' %}" rel="stylesheet">
{% endblock%}

{% block content %}
    <div class="login_view">
        <form class="form-signin" action="{% url 'change-password' %}" method="POST">
            <h2 class="form-signin-heading text-center">Change My Password</h2>
                <table>
                    {{ form.old_password }}
                    <span style="color: red">{{ form.old_password.errors }}</span>
                    {{ form.new_password }}
                    {{ form.new_password_confirm }}
                    <span style="color: red">{{ form.new_password_confirm.errors }}</span>
                </table>
                <button class="btn btn-lg btn-primary btn-block">Change!</button>
                {% csrf_token %}
        </form>
    </div>
{% endblock %}