
<div class="modal" id="myModal">
	<!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Find Next Number</h4>
        </div>
        <div class="modal-body">
        	<img  src="{% static 'img/findnext.jpg'}" class = "media-object >
        </div>
        <div class="modal-footer"> 
            <form method="post" action="#">
            	<input type="text" id="input_value" name="input_value" class="form-control" size="8" required autofocus/>
            	<button type="submit" id="sub_bt" class="modal-action modal-close waves-effect waves-light btn" onclick="sendanswer()">Submit</button>
            	<input type="hidden" id="answer" name="answer" value="3888">
            	{% csrf_token %}
            </form>
        </div>
</div>