{% extends "base.html" %}
{% load static %}

{% block css %}
		<title>level1</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #000;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				padding: 10px;
				width: 100%;
				text-align: center;
				color: #000;
			}

			a { color: skyblue; }

			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>
        <link rel="stylesheet" href="{% static 'css/room.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/build/three.js' %} " type="text/javascript"></script>
		<script src="{% static 'js/controls/OrbitControls.js' %}"></script>
		<script src="{% static 'js/loaders/MD2Loader.js' %}"></script>
		<script src="{% static 'js/MorphBlendMesh.js' %}"></script>
		<script src="{% static 'js/MD2CharacterComplex.js' %}"></script>
		<script src="{% static 'js/Gyroscope.js' %}"></script>

		<script src="{% static 'js/loaders/DDSLoader.js' %}"></script>
		<script src="{% static 'js/loaders/MTLLoader.js' %}"></script>
		<script src="{% static 'js/loaders/OBJLoader.js' %}"></script>
		<script src="{% static 'js/Detector.js' %}"></script>
		<script src="{% static 'js/libs/stats.min.js' %}"></script>
        <script src="{% static 'js/playerSocket.js' %}"></script>

{% endblock %}

{% block content %}
		<div id="playInfo">

		</div>

        <div id="playBar"><h4>PlayerList</h4> </div>
        <ul id="playerList">

        </ul>

		<div class="modal" id="myModal2">
			<!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		            <h4 class="modal-title">Find Next Number</h4>
		        </div>
		        <div class="modal-body">
		        	<img  src="{% static 'img/findnext.jpg' %}" class = "media-object" >
		        </div>
		        <div class="modal-footer" id = "myfooter2">
		            <form class = "submit_form" method="post" onsubmit="return false;">
                        <label for="input_value" style="float:left">Answer</label>
                        <input style="float: left" type="text" id="input_value" name="input_value" class="form-control" size="8" required autofocus/>
		            	<button type="submit" id="sub_bt" class="modal-action waves-effect waves-teal btn" onclick="compareAnswer()">Submit</button>
                        <button type="button" class="modal-action modal-close waves-effect waves-teal btn" >Close</button>
		            	<input type="hidden" id="answer" name="answer" value="3888">
		            	{% csrf_token %}
		            </form>
		        </div>
			</div>
		</div>

        <div class="modal" id="myModal3">
        </div>


        <script>
            var mtl = "{% static 'models/obj/male02/Bedroom.mtl' %}";
            var obj = "{% static 'models/obj/male02/Bedroom.obj' %}";
            var base = "{% static 'models/md2/ogro/' %}";
            var bedurl = "{% static  'img/bed.png' %}";
            var wordsurl = "{% static 'js/words.js' %}";
            var appurl = "{% static 'js/app.js' %}";
            var styleurl = "{% static 'css/style.css' %}";
		</script>

		<script src="{% static 'js/room.js' %}"></script>
{% endblock %}
