{% extends "base.html" %}
{% load static %}

{% block css %}
		<title>level1</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				color: #000;
				font-family:Monospace;
				font-size:13px;
				text-align:center;
				font-weight: bold;

				background-color: #fff;
				margin: 0px;
				overflow: hidden;
			}

			#info {
				position: absolute;
				padding: 10px;
				width: 100%;
				text-align: center;
				color: #000;
			}

			a { color: skyblue; }

			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>
        <link rel="stylesheet" href="{% static 'css/room.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="{% static 'js/build/three.js' %} " type="text/javascript"></script>
		<script src="{% static 'js/controls/OrbitControls.js' %}"></script>
		<script src="{% static 'js/loaders/MD2Loader.js' %}"></script>
		<script src="{% static 'js/MorphBlendMesh.js' %}"></script>
		<script src="{% static 'js/MD2CharacterComplex.js' %}"></script>
		<script src="{% static 'js/Gyroscope.js' %}"></script>

		<script src="{% static 'js/loaders/DDSLoader.js' %}"></script>
		<script src="{% static 'js/loaders/MTLLoader.js' %}"></script>
		<script src="{% static 'js/loaders/OBJLoader.js' %}"></script>
		<script src="{% static 'js/Detector.js' %}"></script>
		<script src="{% static 'js/libs/stats.min.js' %}"></script>
        <script src="{% static 'js/playerSocket.js' %}"></script>

{% endblock %}

{% block content %}

		<div class="modal" id="myModal2">
			<!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		            <h4 class="modal-title">Find Next Number</h4>
		        </div>
		        <div class="modal-body">
		        	<img  src="{% static 'img/findnext.jpg' %}" class = "media-object" >

		            <form class = "submit_form" method="post" onsubmit="return false;">
                        <label for="input_value" style="float:left">Answer</label>
                        <input style="float: left" type="text" id="input_value" name="input_value" class="form-control" size="8" required autofocus/>
		            	<button type="submit" id="sub_bt" class="modal-action btn btn-primary" onclick="compareAnswer()">Submit</button>
                        <button type="button" id="clo_bt" class="modal-action modal-close btn btn-primary" >Close</button>
		            	<input type="hidden" id="answer" name="answer" value="3888">
		            	{% csrf_token %}
		            </form>
                </div>
			</div>
		</div>



        <script src="{% static 'js/build/three.js' %} " type="text/javascript"></script>
		<script src="{% static 'js/controls/OrbitControls.js' %}"></script>

		<script src="{% static 'js/loaders/MD2Loader.js' %}"></script>
		<script src="{% static 'js/MorphBlendMesh.js' %}"></script>
		<script src="{% static 'js/MD2CharacterComplex.js' %}"></script>
		<script src="{% static 'js/Gyroscope.js' %}"></script>

		<script src="{% static 'js/loaders/DDSLoader.js' %}"></script>
		<script src="{% static 'js/loaders/MTLLoader.js' %}"></script>
		<script src="{% static 'js/loaders/OBJLoader.js' %}"></script>

		<script src="{% static 'js/Detector.js' %}"></script>
		<script src="{% static 'js/libs/stats.min.js' %}"></script>

        <div class="modal" id="myModal3">
        </div>


		<script>
		

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var SCREEN_WIDTH = window.innerWidth;
			var SCREEN_HEIGHT = window.innerHeight;

			var container, stats, row;
			var col1, col2, col3, col4, col5;
			var colContent1, colContent2, colContent3, colContent4, colContent5;
			var camera, scene, renderer;

			var characters = [];
			var nCharacters = 0;

			var cameraControls;

			var controls = {

				moveForward: false,
				moveBackward: false,
				moveLeft: false,
				moveRight: false

			};

			var centerpointx=50;
			var centerpointz=-50;

			var clock = new THREE.Clock();

			init();
			animate();

			function init() {

				container = document.createElement( 'div' );
				container.id = 'container';
				document.body.appendChild( container );

				// ROW
	    		row = document.createElement( 'div' );
	    		row.id = 'row';
	    		row.className = 'row eventresults';
	    		col1 = document.createElement( 'div' );
		   		col1.id = "col1";
	    		col2 = document.createElement( 'div' );
		   		col2.id = "col2";
	    		col2.className = "col s12 m2 l2 grey lighten-4"
	    		col3 = document.createElement( 'div' );
		   		col3.id = "col3";
	    		col3.className = "col s12 m2 l2 grey lighten-4"
	    		col4 = document.createElement( 'div' );
		   		col4.id = "col4";
	    		col4.className = "col s12 m2 l2 grey lighten-4"
	    		col5 = document.createElement( 'div' );
		   		col5.id = "col5";
	    		col5.className = "col s12 m2 l2 grey lighten-4"
				// col1.innerHTML += 'Extra stuff';
	    		colContent1 = document.createElement( 'div' );
	    		colContent1.className = "col-content grey lighten-2";
	    		colContent2 = document.createElement( 'div' );
	    		colContent2.className = "col-content grey lighten-2";
	    		colContent3 = document.createElement( 'div' );
	    		colContent3.className = "col-content grey lighten-2";
	    		colContent4 = document.createElement( 'div' );
	    		colContent4.className = "col-content grey lighten-2";
	    		colContent5 = document.createElement( 'div' );
	    		colContent5.className = "col-content grey lighten-2";
	    		col1.className = "col s12 m2 l2 grey lighten-4"

	    		document.getElementById("container").appendChild(row);
	    		document.getElementById("row").appendChild(col1);
	    		document.getElementById("row").appendChild(col2);
	    		document.getElementById("row").appendChild(col3);
	    		document.getElementById("row").appendChild(col4);
	    		document.getElementById("row").appendChild(col5);	
	    		document.getElementById("col1").appendChild(colContent1);
	    		document.getElementById("col2").appendChild(colContent2);
	    		document.getElementById("col3").appendChild(colContent3);
	    		document.getElementById("col4").appendChild(colContent4);
	    		document.getElementById("col5").appendChild(colContent5);


				// CAMERA

				camera = new THREE.PerspectiveCamera( 45, window.innerWidth / window.innerHeight, 1, 4000 );
				camera.position.set( -250, 100, -50 );

				// SCENE

				scene = new THREE.Scene();
				scene.background = new THREE.Color( 0xffffff );
				scene.fog = new THREE.Fog( 0xffffff, 1000, 4000 );

				scene.add( camera );

				// LIGHTS

				scene.add( new THREE.AmbientLight( 0x222222 ) );

				var light = new THREE.DirectionalLight( 0xffffff, 2.25 );
				light.position.set( 200, 450, 500 );

				light.castShadow = true;

				light.shadow.mapSize.width = 1024;
				light.shadow.mapSize.height = 512;

				light.shadow.camera.near = 100;
				light.shadow.camera.far = 1200;

				light.shadow.camera.left = -1000;
				light.shadow.camera.right = 1000;
				light.shadow.camera.top = 350;
				light.shadow.camera.bottom = -350;

				scene.add( light );
				// scene.add( new THREE.CameraHelper( light.shadow.camera ) );

/*
				//  GROUND

				var gt = new THREE.TextureLoader().load( "textures/terrain/grasslight-big.jpg" );
				var gg = new THREE.PlaneBufferGeometry( 16000, 16000 );
				var gm = new THREE.MeshPhongMaterial( { color: 0xffffff, map: gt } );

				var ground = new THREE.Mesh( gg, gm );
				ground.rotation.x = - Math.PI / 2;
				ground.material.map.repeat.set( 64, 64 );
				ground.material.map.wrapS = THREE.RepeatWrapping;
				ground.material.map.wrapT = THREE.RepeatWrapping;
				// note that because the ground does not cast a shadow, .castShadow is left false
				ground.receiveShadow = true;

				scene.add( ground );
*/

				// model

				var onProgress = function ( xhr ) {
					if ( xhr.lengthComputable ) {
						var percentComplete = xhr.loaded / xhr.total * 100;
						console.log( Math.round(percentComplete, 2) + '% downloaded' );
					}
				};

				var onError = function ( xhr ) { };

				THREE.Loader.Handlers.add( /\.dds$/i, new THREE.DDSLoader() );

				var mtlLoader = new THREE.MTLLoader();
				//mtlLoader.setPath( "{% static '/media/models/obj/male02/'  %}");
				mtlLoader.load( "{% static 'models/obj/male02/Bedroom.mtl' %}", function( materials ) {

					materials.preload();

					var objLoader = new THREE.OBJLoader();
					objLoader.setMaterials( materials );
					//objLoader.setPath( "{% static 'models/obj/male02/'  %}");
					objLoader.load( "{% static 'models/obj/male02/Bedroom.obj' %}", function ( object ) {

						object.position.y = 0;
						scene.add( object );

					}, onProgress, onError );

				});


				// RENDERER

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
				container.appendChild( renderer.domElement );

				//

				renderer.gammaInput = true;
				renderer.gammaOutput = true;

				renderer.shadowMap.enabled = true;
				renderer.shadowMap.type = THREE.PCFSoftShadowMap;

				// STATS

				stats = new Stats();
				container.appendChild( stats.dom );

				// EVENTS

				window.addEventListener( 'resize', onWindowResize, false );
				document.addEventListener( 'keydown', onKeyDown, false );
				document.addEventListener( 'keyup', onKeyUp, false );

				// CONTROLS

				cameraControls = new THREE.OrbitControls( camera, renderer.domElement );
				cameraControls.target.set( centerpointx, 50, centerpointz );
				cameraControls.update();

				// CHARACTER

				var configOgro = {

					baseUrl: "{% static 'models/md2/ogro/' %}",

					body: "ogro.md2",
					skins: [ "2.jpg", "ogrobase.png", "arboshak.png", "ctf_r.png", "ctf_b.png", "darkam.png", "freedom.png",
							 "gib.png", "gordogh.png", "igdosh.png", "khorne.png", "nabogro.png",
							 "sharokh.png" ],
					weapons:  [ [ "weapon.md2", "weapon.jpg" ] ],
					animations: {
						move: "run",
						idle: "stand",
						jump: "jump",
						attack: "attack",
						crouchMove: "cwalk",
						crouchIdle: "cstand",
						crouchAttach: "crattack"
					},

					walkSpeed: 75,
					crouchSpeed: 175

				};

				var nRows = 1;
				var nSkins = 1;

				nCharacters = nSkins * nRows;

				for ( var i = 0; i < nCharacters; i ++ ) {

					var character = new THREE.MD2CharacterComplex();
					character.scale = 1;
					character.controls = controls;
					characters.push( character );

				}

				var baseCharacter = new THREE.MD2CharacterComplex();
				baseCharacter.scale = 1;

				baseCharacter.onLoadComplete = function () {

					var k = 0;

					for ( var j = 0; j < nRows; j ++ ) {

						for ( var i = 0; i < nSkins; i ++ ) {

							var cloneCharacter = characters[ k ];

							cloneCharacter.shareParts( baseCharacter );

							// cast and receive shadows
							cloneCharacter.enableShadows( true );

							//cloneCharacter.setWeapon( 0 );
							cloneCharacter.setSkin( i );

							cloneCharacter.root.position.x = ( i - nSkins/2 ) * 150+50;
							cloneCharacter.root.position.z = j * 90 - 50;

							scene.add( cloneCharacter.root );

							k ++;

						}

					}

					var gyro = new THREE.Gyroscope();
					//gyro.add( camera );  //camero does not focus on the character 
					gyro.add( light, light.target );

					characters[ Math.floor( nSkins / 2 ) ].root.add( gyro );

				};

				baseCharacter.loadParts( configOgro );



			}

			// EVENT HANDLERS

			function onWindowResize( event ) {

				SCREEN_WIDTH = window.innerWidth;
				SCREEN_HEIGHT = window.innerHeight;

				renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

				camera.aspect = SCREEN_WIDTH/ SCREEN_HEIGHT;
				camera.updateProjectionMatrix();

			}

			function onKeyDown ( event ) {

				event.stopPropagation();

		//		if (characters[0].root.position.x > -78 && characters[0].root.position.x < 197 && characters[0].root.position.z > -180 && characters[0].root.position.z < 95)
		//		{
					switch( event.keyCode ) {

					case 38: /*up*/
					case 87: /*W*/ 	controls.moveForward = true; break;

					case 40: /*down*/
					case 83: /*S*/ 	 controls.moveBackward = true; break;

					case 37: /*left*/
					case 65: /*A*/   controls.moveLeft = true; break;

					case 39: /*right*/
					case 68: /*D*/    controls.moveRight = true; break;

					//case 67: /*C*/     controls.crouch = true; break;
					//case 32: /*space*/ controls.jump = true; break;
					//case 17: /*ctrl*/  controls.attack = true; break;
					case 32: /*space*/
					case 70: /*F*/ 	 
						controls.moveF = true; break;


					}
		//		}



			}

			function onKeyUp ( event ) {

				event.stopPropagation();

				switch( event.keyCode ) {

					case 38: /*up*/
					case 87: /*W*/ controls.moveForward = false; break;

					case 40: /*down*/
					case 83: /*S*/ 	 controls.moveBackward = false; break;

					case 37: /*left*/
					case 65: /*A*/ 	 controls.moveLeft = false; break;

					case 39: /*right*/
					case 68: /*D*/ 	  controls.moveRight = false; break;

					//case 67: /*C*/     controls.crouch = false; break;
					//case 32: /*space*/ controls.jump = false; break;
					//case 17: /*ctrl*/  controls.attack = false; break;
					case 32: /*space*/
					case 70: /*F*/ 	 
								controls.moveF = false; 
						break;


				}

			}

			//

			function animate() {

				requestAnimationFrame( animate );
				render();

				stats.update();

			}

			function render() {

				var delta = clock.getDelta();

				for ( var i = 0; i < nCharacters; i ++ ) {

					characters[ i ].update( delta );

				}

				renderer.render( scene, camera );

			}

		</script>

{% endblock %}