<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>calculator</title>
    <link rel="stylesheet" href="static/calculator/calculator.css">
</head>

<body>

{% if messages %}
<ul class="messages error">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="cal_click" method="get">

<table>
    <tr>

        {% if cal_result %}
            <th colspan="4" id="screen"> {{ cal_result }} </th>
        {% else %}
            <th colspan="4" id="screen"> 0 </th>
        {% endif %}

    </tr>
    <tr>
        <td><input type="submit" class="button num" value="7" name="num"></td>
        <td><input type="submit" class="button num" value="8" name="num"></td>    
        <td><input type="submit" class="button num" value="9" name="num"></td>   
        <td><input type="submit" class="button sign" value="&plus;" name="plus"></td>
    </tr>
    <tr>
        <td><input type="submit" class="button num" value="4" name="num"></td>
        <td><input type="submit" class="button num" value="5" name="num"></td>    
        <td><input type="submit" class="button num" value="6" name="num"></td>   
        <td><input type="submit" class="button sign" value="&minus;" name="minus"></td>
    </tr>
    <tr>
        <td><input type="submit" class="button num" value="1" name="num"></td>
        <td><input type="submit" class="button num" value="2" name="num"></td>    
        <td><input type="submit" class="button num" value="3" name="num"></td>   
        <td><input type="submit" class="button sign" value="&times;" name="times"></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" class="button num" value="0" name="num"></td>
        <td><input type="submit" class="button num" value="&equals;" name="equals"></td>    
        <td><input type="submit" class="button sign" value="&divide;" name="divide"></td>  
    </tr>
</table>

</form>


</body>
</html>
